// === FONT ===
@mixin font($color, $font-size, $line-height, $font-weight, $font-family: false) {
    @if $font-family == 'Inter' {
        font-family: $font-family-inter;
    } @else {
        font-family: $font-family-merriweather;
    }
   
    @if $color != '' {
        color: $color;
    }
    @if $font-size != '' {
        font-size: $font-size;
    }
    @if $line-height != '' {
        line-height: $line-height;
    }
    @if $font-weight != '' {
        font-weight: $font-weight;
    }
}
