// === FONTS ===
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    src: url('@/assets/fonts/Merriweather-Light/Merriweather-Light.woff2') format('woff2'),
        url('@/assets/fonts/Merriweather-Light/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    src: url('@/assets/fonts/Merriweather-Regular/Merriweather-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Merriweather-Regular/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    src: url('@/assets/fonts/Merriweather-Bold/Merriweather-Bold.woff2') format('woff2'),
        url('@/assets/fonts/Merriweather-Bold/Merriweather-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url('@/assets/fonts/Inter-Medium/Inter-Medium.woff2') format('woff2'),
        url('@/assets/fonts/Inter-Medium/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}
